nav ul {
    list-style-type: none;
    background-color: #4b84db;
    display: flex;
    height: 50px;
    align-items: center;
    width: 560px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background: url('wallpaper1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.wrapper {
    margin: auto;
    width: 80%;
    padding: 20px;
    background-color: rgb(104, 167, 226, 0.4);
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.hover-image {
    transition: transform 0.3s ease, filter 0.3s ease;
    display: block;
    margin: 0 auto;
}

.hover-image:hover {
    transform: scale(1.1); 
    filter: brightness(1.2);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(104, 167, 226, 0);
    color: white;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
